header {
	font-family: "Lato", sans-serif;
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:#15171c;
  color:aliceblue;
  width: 100vw;
  height: 84px;
}

.User {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AppTitle {
  width: 200px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#walletHalf {
  font-weight: 600;
}

.HeaderTitle {
  font-size: small;
  font-weight: 600;
  margin-bottom: 6px;
}

.TotalContainer {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.TotalExpenses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TotalExpenses div {
  margin-left: 4px;
}
